@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


a:hover {
    color: #F26522;
    transition: 0.3s;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1028px;
    margin: auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 17px;
    color: white;
    position: relative;

}


.logo-wrapper {
    display: grid;
    grid-column-gap: 8px;
    grid-template-rows: 30px;
    text-transform: uppercase;
    margin-bottom: 11px;
    grid-template-areas:
        "a b"
        "a c";
}

.logo-wrapper:hover > .logo-image {
    opacity: 0;
    /*transition: 0.3s;*/
}

.logo-wrapper:hover > .logo-image-hover {
    opacity: 1;
    transition: 0.3s;
}

.logo-image {
    transition: 0.3s;
}

.logo-image-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.3s;
}

.logo {
    grid-area: a;
}

.logo-text {
    grid-area: b;
    font-size: 29px;
    font-weight: 700;
}

.logo-text-smaller {
    grid-area: c;
    font-size: 18px;
    font-weight: 700;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

#email:hover {
    color: #F26522;
}

#phone-number:hover {
    color: #F26522;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    column-gap: 62px;
    row-gap: 35px;
    margin-bottom: 69px;
}

.grid-wrapper img {
    width: 300px;
    height: 220px;
    border: 2px solid transparent;
    background: linear-gradient(black, white) padding-box,
    linear-gradient(to right, black 0%, white 100%) border-box;
}

.grid-item {
    position: relative;
}



.main-text {
    display: flex;
    width: 300px;
    height: 43px;
    justify-content: center;
    align-items: center;
}

.price-banner {
    display: grid;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 55px;
    color: white;
    top: 167px;
    left: 2px;
    opacity: 0;
    transition: 0.3s;
    padding: 7px 16px 14px 12px;
    background-color: #F26522;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a ."
        "b c";
}

.grid-item:hover > .price-banner {
    color: white;
    opacity: 1;
}

.price-banner > p:first-child {
    grid-area: a;
    font-size: 10px;
    margin-bottom: 5px;
}

.price-banner > p:nth-child(2) {
    grid-area: b;
    font-size: 20px;
}

.hover-link {
    position: relative;
    grid-area: c;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 4px;
}

.hover-link::after {
    content: url("images/vector.png");
    position: absolute;
    top: 1px;
    left: 100px;
    transition: 0.3s;
}

.hover-link:hover {
    border-bottom: 1px solid white;
    color: white;
}

footer > p {
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: center;
}




